@import "../../responsive.scss";

footer{
    margin-top: 5rem;
    border-top: 1px solid #90d7fdda;
    width: 100%;

    @include mobile{
         margin-top: 2rem;
    }

    .content{
        color: #00456b;
        height: 6rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .design{
            margin-top: .5rem;
        }
    }
}